.categorys {
    margin-top: 2.5rem;
    .header {
        padding: .7rem;
        border-bottom: 1px solid #fff;
    }
    margin-bottom: 8rem;
    
    .card-row {
        display: grid;
        grid-template-columns: repeat(5, 10rem);
    }
    @media (min-width: 980px) {
        .card-row {
            display: grid;
            // 11 for larger screen sizes
            grid-template-columns: repeat(9, 10rem);
        }
        
    }
}

