.title-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    .title {
        margin-top: 3rem;
        display: flex;
        align-items: center;

        .image-container {
            img {
                width: 15rem;
                height: 20rem;
            }
            .tags {
                display: flex;
                * {
                    margin-left: .5rem;
                    border: 1px solid #fff;
                    padding: .3rem;
                    border-radius: 10rem;

                    &:hover {
                        transition: 0.5s;
                        background-color: #fff;
                        color: #000;
                        cursor: default;
                    }
                }
                
            }
        }
        h1 {
            margin-left: 5rem;
        }
    }
}

