.title-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    .title {
        display: flex;
        align-items: center;

        img {
            width: 15rem;
            height: 20rem;
        }
        h1 {
            margin-left: 5rem;
        }
    }
}

