.title-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    .title {
        display: flex;
        align-items: center;

        .image-container {
            img {
                width: 15rem;
                height: 20rem;
            }
            .tags {
                display: flex;
                * {
                    margin-left: .5rem;
                }
            }
        }
        h1 {
            margin-left: 5rem;
        }
    }
}

